.task-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid lightgrey;
    padding: 3px;
}

.delete-task:hover {
    cursor: pointer;
}

p {
    width: 500px;
    margin-left: 30px;
}

.expired {
    border: 2px solid red;
}